*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.part_two_container_main{
    
    width: 100%;
    background: #fed6a8;
    font-family: sharp sans en,sharp sans accents,sharp sans symbols,sharp sans,Arial,sans-serif;
    
}
.part_two_container{
    width: 60%;
    padding-top: 80px   ;
    padding-bottom: 80px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
   
}
.part_two_left{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sharp sans en,sharp sans accents,sharp sans symbols,sharp sans,Arial,sans-serif;
    color: #03363d;
}
.part_two_left h2{
    font-family: sharp sans en,sharp sans accents,sharp sans symbols,sharp sans,Arial,sans-serif;
    font-weight: 700;
    margin-top: 24px;
    font-size: 2rem;
    color: #03363d;
}
.part_two_left p{
    color: #17494d;
    line-height: 1.5em;
}
.right_arrow{
    padding-left: 10px;
    margin-top: 4px;
}
.part_two_left a{
    font-size: 1.125rem;
}

.part_two_right img {
    margin-right: 100px;
    width: 442px;
    height: 250px;
}
.part_three{
    font-family: sharp sans en,sharp sans accents,sharp sans symbols,sharp sans,Arial,sans-serif;
    text-align: center;
    color: #03363d;
    margin-top: 40px;
    
}
.h_1{
    font-size: 50px;
    font-weight: 600;
    
}
.p_1{
    margin-top: 2.5%;
    line-height: 1.5em;
}


/* ########################################################################################################## */

@media only screen and (max-width: 768px){
    .part_two_container{
        display: flex;
        flex-direction: column-reverse;
    }
    .part_two_right{
        padding-top: 80px;   
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .part_two_left p{
        padding-top: 24px;
    }
    .part_two_left a{
        padding-top: 24px;
    }
}
















.part_one{
    background-color: #17494d;
    overflow: hidden;
    width: 100%;

}.aaa{
    position: fixed;
    z-index: 999;
}
.li1{
    width: fit-content;
    display: inline;
    margin: 8px;    
}
.aa{
    float: right;
}
.nav1{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.header{
    max-width: 70em;
    margin: auto;

}.a1{
    text-decoration: none;
    color: white;
}
.a1:hover{
    text-decoration: underline;
}
.ab{
    float: left;
    margin: 20px 30px;
}
.ac{
    float: right;
    margin:20px 30px;
}
.btn{
    padding: 15px 40px;
    font-weight: 700;
    border-radius: 2px;
    font-family: sharp sans en,sharp sans accents,sharp sans symbols,sharp sans,Arial,sans-serif;
    font-size: 16px;
}
.btn1{
    background-color: #ECE0CE;
    color:#17494d ;
    
 
    border-style: none;
    
}
.btn:hover{
    background-color: white;
    transition-duration: 500ms;
}
.a2{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}
.a3{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}
.ac{
    font-family: sharp sans en,sharp sans accents,sharp sans symbols,sharp sans,Arial,sans-serif;
    font-weight: 600;
}
.xy{
    margin-top: 150px;
    display: flex;
}
.xy>*{
    flex-basis: 100%;
    margin-bottom: 150px;
}
.xz{
    font-family: sharp sans en,sharp sans accents,sharp sans symbols,sharp sans,Arial,sans-serif;
    font-weight: 600;
    font-size: 78px;
}
.x1{
    color: #CE9FB7;
}
.x2{
    color: #FED678;
}
.x3{
    color: #00A656;
}
.x4{
    color: #30AABC;
}.pp{
    font-family: sharp sans en,sharp sans accents,sharp sans symbols,sharp sans,Arial,sans-serif;
    font-size: 18px;
    line-height:1.5;
    color: white;
    width: fit-content;
    margin: auto;
}.btn2{
    background-color: #17494d;
    border-style:double;
    border-color: #fed6a8;
    color: #ECE0CE;
    margin-top: 40px;
    margin-left: 15px;
}
.bttt{
    max-width: 25em;
    width: fit-content;
}
.mm{
    margin-top: 30px;
}
.xb{
    border-block-end-style: solid;
    border-block-end-width: 5px;
    border-block-end-color: white;
}.immm{
    position: absolute;
    margin-left: 11vw;
    top: 30em;
}