*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.part_two{
    width: 75em;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    background: #fed6a8;
    font-family: sharp sans en,sharp sans accents,sharp sans symbols,sharp sans,Arial,sans-serif;

}
.part_two_left{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.part_two_left h2{
    margin-top: 24px;
}

.part_two_right img {
    width: 442px;
    height: 250px;
}
.part_three{
    font-family: sharp sans en,sharp sans accents,sharp sans symbols,sharp sans,Arial,sans-serif;
    text-align: center;
    color: #17494d;
}



















.part_one{
    background-color: #17494d;
    overflow: hidden;
    width: 100%;

}.aaa{
    position: absolute;
}
.li1{
    width: fit-content;
    display: inline;
    margin: 8px;    
}
.aa{
    float: right;
}
.nav1{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.header{
    max-width: 75em;
    margin: auto;

}.a1{
    text-decoration: none;
    color: white;
}
.a1:hover{
    text-decoration: underline;
}
.ab{
    float: left;
    margin: 20px 30px;
}
.ac{
    float: right;
    margin:20px 30px;
}
.btn{
    padding: 15px 25px;
    border-style: none;
    border-radius: 5px;
}
.btn1{
    background-color: #ECE0CE;
    color:#17494d ;
    font-family: sharp sans en,sharp sans accents,sharp sans symbols,sharp sans,Arial,sans-serif;
}
.btn:hover{
    background-color: white;
    transition-duration: 500ms;
}
.a2{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}
.a3{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}
.ac{
    font-family: sharp sans en,sharp sans accents,sharp sans symbols,sharp sans,Arial,sans-serif;
    font-weight: 600;
}
.xy{
    margin-top: 150px;
    display: flex;
}
.xy>*{
    flex-basis: 100%;
}
.xz{
    font-family: sharp sans en,sharp sans accents,sharp sans symbols,sharp sans,Arial,sans-serif;
    font-weight: 600;
    font-size: 78px;
}
.x1{
    color: #CE9FB7;
}
.x2{
    color: #FED678;
}
.x3{
    color: #00A656;
    text-decoration:underline;
}
.x4{
    color: #30AABC;
    text-decoration:underline;
}